/** CSS STYLE **/
@font-face {
  font-family: Neucha;
  src: url('../fonts/Neucha/Neucha-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-VariableFont.ttf');
}

:root {
  --white: #fff;
  --semi-transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --semi-transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.bg-img {
  position: relative;
}

.bg-img::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;

  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1;
}

.wrapper {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.container {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

header h1 {
  z-index: 2;
}

/* header */

.header-img {
  position: absolute;
  top: 50px;
  right: -270px;
  z-index: 0;

  height: 525px;
}

.section {
  display: flex;
  justify-content: space-between;
}

.section-block {
  width: 540px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;

  text-transform: uppercase;
  font-weight: bold;
  color: var(--white);
  background-color: var(--primary);

  cursor: pointer;

  transition: all 0.2s linear;
}

.btn:hover {
  background-color: #EA7600;
}

.tittle {
  margin-bottom: 30px;
}

.video-container {
  position: relative;
  top: 100px;
  padding-top: 0;
  padding-bottom: 0;

  text-align: center;
}

.video {
  position: relative;
  margin: auto;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  width: 350px;

  padding: 24px;
  margin: 10px;
}

.nav-item {
  background-color: var(--white);

  transition: all 0.2s linear;
}

.number {
  font-size: 64px;
  margin-bottom: 40px;
  line-height: 1;
}

.nav-item:hover {
  background-color: var(--primary);
  color: var(--white);
}

.nav-item:hover h3 {
  color: var(--white);
}

.card-item-tittle {
  text-wrap: nowrap;
  padding: 0;
}

.item-tittle {
  font-size: 52px;
}


/* Atomic */

.primary-color {
  color: var(--primary);
}

.white-color {
  color: var(--white);
}

.bg-light {
  background-color: var(--light);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-white {
  background-color: var(--white);
}

.mt-20 {
  margin-top: 20px;
}

.mt-185 {
  margin-top: 185px;
}

.pt-200 {
  padding-top: 200px;
}