/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url('../fonts/Neucha/Neucha-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-VariableFont.ttf');
}

:root {
  --white: #fff;
  --semi-transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --semi-transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-style: normal;
  color: var(--dark);

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.bg-img {
  position: relative;
}

.bg-img::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;

  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  overflow: hidden;
}

.container {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 1;
}

.container h1 {
  position: relative;
  z-index: 2;
}

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: 0;

  height: 525px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.section-block {
  width: 100%;
  line-height: 1.6;
}

.section-img {
  width: 578px;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0 16px 32px 0 rgba(0 0 0 / 15%)
}

.section-txt {
 font-family: Neucha, sans-serif;
 font-size: 34px;
 line-height: 1.2;
}

.subtittle {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}

.tittle {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;

}

.btn {
  display: inline-block;
  padding: 12px 24px;
  margin: 0;

  text-transform: uppercase;
  font-weight: bold;
  color: var(--white);

  background-color: var(--primary);

  border: none;

  cursor: pointer;

  transition: all 0.2s linear;
}

.btn:hover {
  background-color: #ea7600;
}

.video-tittle {
  margin-bottom: 30px;
}

.video-container {
  position: relative;
  top: 100px;
  padding-top: 0;
  padding-bottom: 0;

  text-align: center;
}

.video-tittle p {
  margin-top: 30px;
}

.video {
  position: relative;
  margin: auto;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  border: none;
}

.card-group {
  height: 691px;
  width: 100%;
  margin-top: 86px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  width: 31%;
  margin: 10px;
}

.nav-item {
  background-color: var(--light);
  padding: 24px;

  transition: all 0.2s linear;
}

.number {
  margin-bottom: 40px;

  font-family: Neucha, sans-serif;
  font-size: 64px;
  line-height: 1;
}

.nav-item:hover {
  background-color: var(--primary);
  color: var(--white);
}

.nav-item:hover h3 {
  color: var(--white);
}

.card-item-tittle {
  text-wrap: nowrap;
  padding: 0;
}

.item-tittle {
  font-size: 52px;
}

.footer-send {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 190px;
  width: 100%;
}

.footer-send-tittle {
  width: 50%;
  padding: 55px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 55px;
}

.label {
  font-size: 18px;
  line-height: 1.6;
}

.input-group {
  display: flex;
  align-items: center;
}

.input {
  height: 50px;
  width: 100%;
  padding: 15px;
  margin: 0;

  border: none;
}

.send-btn {
  position: relative;
  width: 70px;
  height: 50px;

}

.send-btn::before {
  content: '';
  position: absolute;
  inset: 0;

  display: block;
  margin: auto;

  width: 24px;
  height: 24px;

  background-image: url('../images/send.svg');
  background-repeat: no-repeat;
}

.agreement-txt {
  font-size: 12px;
}

.agreement-link {
  text-decoration-line: underline;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 60px;

  font-size: 14px;
  line-height: 1.6;
}

.contacts-txt {
  margin-bottom: 16px;
}

.contacts-link {
  color: #007DC1;
  text-decoration-line: underline;
}

/* Atomic */

/* Color */

.primary-color {
  color: var(--primary);
}

.white-color {
  color: var(--white);
}

.brown-color {
  color: var(--brown);
}

.gray-color {
  color: var(--semi-transparent-dark);
}

.transparent-white-color {
  color: var(--semi-transparent-white);
}

/* bg-color */

.bg-light {
  background-color: var(--light);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-gray {
  background-color: var(--light);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-white {
  background-color: var(--white);
}

.mt-20 {
  margin-top: 24px;
}

.mt-185 {
  margin-top: 185px;
}

.mr-30 {
  margin-right: 30px;
}

.pt-200 {
  padding-top: 207px;
}

.pt-107 {
  padding-top: 107px;
}
